:root {
  --text: #FFF;
  --background: #090909;
  --secondary: #272727;
  --secondary-darker: #111111;
  --primary: #651f9f;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  padding: 20px;
  border: none;
  border-bottom: 2px solid var(--secondary);
  user-select: none;

  display: grid;
  grid-template-columns: 170px repeat(3, 120px);
}

header h1 {
  display: inline-block;
}

.a-header {
  display: inline-flex;
  align-self: center;
  justify-self: center;

  font-size: 1.2rem;
  color: var(--text);
}

.a-header-no-left-padding {
  margin-left: none;
}

h1 {
  font-size: 2rem;
}

body {
  background: var(--background);
  color: white;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* border: 2px solid var(--secondary); */
  background: var(--secondary-darker);

  padding: 30px;
  
  border-radius: 5px;

  text-align: center;
}

@media only screen and (max-width: 600px) {
  main {
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }

  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  header a {
    text-align: center;
  }
}

input:not([type=file]) {
  color: white;
  border: transparent;
  padding: 12px 17px;
  border-radius: 5px;
}

input[type=submit], input[type=button] {
  font-size: large;
  cursor: pointer;
}

input[type=submit]:disabled, input[type=button]:disabled {
  background: var(--secondary);
  cursor: not-allowed;
}

.btn-primary {
  background: var(--primary);
}

.btn-secondary { 
  background: var(--secondary);
}


a {
  color: #888;
}

.a-no-format {
  color: inherit;
  text-decoration: none;
}

.custom-file-upload {
  /* border: 2px solid var(--secondary); */
  background: var(--secondary);
  display: inline-block;
  padding: 16px 32px;
  cursor: pointer;
  border-radius: 5px;
}